- discussion = local_assigns.fetch(:discussion, false)
- avatars_to_display = 3

.diff-comment-avatar-holders
  - if discussion
    - comments_left_over = discussion.notes.size - avatars_to_display
    - discussion.notes.take(avatars_to_display).each do |note|
      %img.avatar.diff-comment-avatar.has-tooltip.js-diff-comment-avatar{ src: note.author.avatar_url,
        width: 19,
        height: 19,
        title: "#{note.author.name}: #{truncate(note.note, length: 17)}",
        role: "button",
        data: { container: "body", placement: "top", note_id: note.id } }
    %span.diff-comments-more-count.has-tooltip{ role: "button",
      class: ("hidden" if discussion.notes.size <= avatars_to_display),
      title: pluralize(comments_left_over, "more comment"),
      data: { container: "body", placement: "top" } }= "+#{comments_left_over}"
