.explore-title {
  text-align: center;

  h3 {
    font-weight: normal;
    font-size: 30px;
  }
}

.explore-groups.landing {
  margin-top: 10px;
  padding: $gl-padding;
  position: relative;

  .inner-content {
    display: flex;
    justify-content: center;

    .copy {
      display: inline-block;

      p {
        margin: 5px 0 0;
        max-width: 480px;
      }
    }

    @media (max-width: $screen-sm-min) {
      display: block;
      padding: 0;
    }
  }

  .dismiss-icon {
    top: $gl-padding;
    right: $gl-padding;
  }
  svg {
    margin-right: $gl-padding;
    width: 62px;
    height: 50px;
  }
}
