- if @discussions.present?
  - @discussions.each do |discussion|
    - if discussion.single_note?(@noteable)
      = render partial: "projects/notes/note", object: discussion.first_note, as: :note
    - else
      = render 'discussions/discussion', discussion: discussion
- else
  = render partial: "projects/notes/note", collection: @notes, as: :note
